<h1>Edit your page here</h1>
<%= form_for @website, :html => { :multipart => true } do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :name, "Your domain name: (e.g. yourdomain.com, www.yourdomain.com)" %>
		<%= f.text_field :name %>
	</div>
	<div class="actions">
		<%= f.submit "Submit" %>
	</div>
<% end %>
