<h1>Edit your page here</h1>
<%= form_for @website, :html => { :multipart => true } do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :url, "Name of company:" %>
		<%= f.text_field :url %>
	</div>
	<div class="actions">
		<%= f.submit "Submit" %>
	</div>
<% end %>
