<%= link_to "Back", admin_path(@website.admin) %>
<h1>List of your website's followers:</h1>
<% @website.users.each do |user| %>
	<table class="followers">
		<tr>
			<td><%= user.email %>,</td> &nbsp&nbsp
			<td>Signups: <%= user.signups %>,</td> &nbsp&nbsp
			<td>Eligible for Invitation: <%= "Yes" if user.invite %> <%= "No" if !user.invite %></td>
		<tr/>
	</table>
<% end %>

