<div id="website">
	<div id="back">
    <%= image_tag(@website.background.url, :width => "100%", :height => "100%") %>
  </div>
	<p>URL for this website: getyourlaunchbox.heroku.com/<%= "#{@website.url}" %><p>
	<div>Logo: <%= image_tag @website.logo.url %></div>
	<% if current_admin == @website.admin %>
		<p>Welcome, <%= "#{@website.admin.email}" %>! This is your landing page, and you can edit it to your liking!</p>
		<%= link_to "Edit", edit_website_path(@website) %>
		<%= link_to "Show followers", followers_path(:id => @website) %>
	<% end %>
	<% if false %>	
		<h3>Logo</h3>
	<% end %>
	<h3><%= "#{@website.header}" %></h3>
	<p><%= "#{@website.content}" %></p>
	<br />
	<% if @user_show %>
		<p>Hello, <%= "#{@user.email}" %>!</p>
		<p>You have <%= "#{@user.clicks}" %> clicks and <%= "#{@user.signups}" %> signups! The more signups you have, the faster you'll receive an invite!</p>
		<h3>Your unique user link is http://getyourlaunchbox.heroku.com/<%= "#{@user.link}" %> Share this link with all your friends! Share it by email, Twitter, and Facebook!</h3>
		<%= render 'twitter' %>
		<%= render 'facebook' %>
		<%= form_tag '/invite' do  %>
			<div class="field">
				<%= label_tag :friend_email, "Friend's email: " %>
				<%= text_field_tag :friend_email %>
			</div>
			<div><%= hidden_field_tag :user, @user.id %></div>
			<div><%= hidden_field_tag :website, @website.id %></div>
			<div><%= submit_tag 'Invite' %></div>
		<% end %>
	<% else %>
		<p>Launching soon. Enter your email to join our invite list:</p>
		<%= form_for @new_user do |f| %>
			<%= render 'shared/error_messages', :object => f.object %>
			<div class="field">
				<%= f.label :email %>
				<%= f.text_field :email %>
			</div>
			<div>
				<%= f.hidden_field :website, :value => @website.id %>
			</div>
			<div class="actions">
				<%= f.submit "Submit" %>
			</div>
		<% end %>
	<% end %>
	
</div>
