<div id="website">
	<h3><%= "#{@website.header}" %></h3>
	<p><%= "#{@website.content}" %></p>
	<br />
	<% if @user_show %>
		<p>Hello, <%= "#{@user.email}" %>!</p>
		<p>You have <%= "#{@user.clicks}" %> clicks and <%= "#{@user.signups}" %> signups! The more signups you have, the faster you'll receive an invite!</p>
		<h3>Your unique user link is http://getyourlaunchbox.heroku.com/<%= "#{@user.link}" %> Share this link with all your friends! Share it by email, Twitter, and Facebook!</h3>
		<%= render 'twitter' %>
		<%= render 'facebook' %>
		<%= form_tag '/invite' do  %>
			<div class="field">
				<%= label_tag :friend_email, "Enter your friends' emails separated by a comma: " %>
				<%= text_field_tag :friend_email %>
			</div>
			<div><%= hidden_field_tag :user, @user.id %></div>
			<div><%= hidden_field_tag :website, @website.id %></div>
			<div><%= submit_tag 'Invite' %></div>
		<% end %>
	<% else %>
		<p>Launching soon. Enter your email to join our invite list:</p>
		<%= form_for @new_user do |f| %>
			<%= render 'shared/error_messages', :object => f.object %>
			<div class="field">
				<%= f.label :email %>
				<%= f.text_field :email %>
			</div>
			<div>
				<%= f.hidden_field :website, :value => @website.id %>
			</div>
			<div class="actions">
				<%= f.submit "Submit" %>
			</div>
		<% end %>
	<% end %>
	
</div>
