<h1>Welcome to LaunchBox!</h1>
<p>Create your own viral landing page!</p>


<h1>Admin Sign Up</h1>

<%= form_for(@admin) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :encrypted_password, "Password" %><br />
    <%= f.password_field :encrypted_password %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
