<h1>Welcome <%= @admin.email %>!</h1>
<% @admin.websites.each do |site| %>
	<%= "Your domain name is: #{site.domain_name}" %>
	<% if current_admin == site.admin %>
		<%= link_to "Edit", edit_website_path(site) %>
		<%= link_to "Show followers", followers_path(:id => site) %><br /><br />
		<div id="snippet">Copy and paste the following code snippet into your website, and voila! You have your widget.<br/><br/>
			&lt;iframe src="http://gethypebox.com/<%= "#{site.url}" %>" width="50%" height="300"&gt
  		&lt;p&gt Your browser does not support iframes.&lt/p&gt
		&lt/iframe&gt
		</div><br />
		<div id="api-key-info">
			You can access the invitation status of any of your users programatically using our simple api.<br />
			The syntax for xml is: gethypebox.com/api/v1/invited.xml?api_key=API-KEY&email=EMAIL-ADDRESS.<br />
			For JSON, use gethypebox.com/api/v1/invited.json?api_key=API-KEY&email=EMAIL-ADDRESS.<br />
			If the user is invited, the response will be 'true', and if not, it will be 'false'.<br />
			Your api key is <span id="api-key"><%= @admin.api_key %></span>.<br />
			For example, if you were to look up whether a user with the email address of user@example.com has been invited, you could look it up using:<br />
			gethypebox.com/api/v1/invited.xml?api_key=<%= @admin.api_key %>&email=user@example.com .<br />
		</div>
	<% end %>
<% end %>

