<!DOCTYPE html>
<html>
	<head>
	  <title>Welcome to HypeBox!</title>
	  <%= stylesheet_link_tag :all %>
	  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "jquery.rails.js", "application.js" %>
	  <%= csrf_meta_tag %>
	</head>
	<body id="body">
		<%= render 'layouts/header' if !@widget %>
		<% flash.each do |key, value| %>			
			<% unless key.to_s == "user_show" %>		
	    	<div class="flash <%=key %>"><%= value %></div>
	    <% end %>
	  <% end %>
		
		<%= yield %>

	</body>
</html>
